@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: bg-gray-800;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #3c3662;
      border-radius: 100vh;
    }
  }
  